.boton{
    @include botones($verde,block);
    a{
        color: $blanco;
    }
}
.boton-inline{
    @include botones($verde,inline-block);
    margin-top: 2rem;
    a{
        color: $blanco;
    }
}
.boton-rojo-block{
    @include botones(red,block);
    width: 100%;
}
.boton-verde-block{
    @include botones(green,block);
}
.boton-amarillo-block{
    @include botones(rgb(241, 197, 20),inline-block);
}
.boton-transparente{
    @include boton-dash(rgba(20, 20, 20, 0),flex,rgba(20, 20, 20, 0.8));
    padding: 2px;
    height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &:hover{
        border-bottom: 3px solid rgb(104, 192, 160);
    }
    &:focus-within{
        border-bottom: 3px solid rgb(104, 192, 160);
    }
}
.boton-seleccion{
    @include boton-dash(rgba(83, 98, 151, 0.513),flex,rgba(20, 20, 20, 0.8));
    padding: 2px;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;;
    border-bottom: 2px solid rgb(32, 210, 103);
}
.boton-transparente-en{
    @include boton-dash(rgba(20, 20, 20, 0),block,rgba(20, 20, 20, 0.8));
    padding: 0;
    width: 6.7rem;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    span{
        opacity: 0;
    }
    &:hover{
        border-bottom: 3px solid rgb(104, 192, 160);
    }
    &:focus-within{
        border-bottom: 3px solid rgb(104, 192, 160);
    }
}

@media(max-width: 480px){
    .boton-transparente-menu{
       
        margin-bottom: 4rem;
        margin-top: 3rem;
        height: 3rem;
        width: 3rem;
        display: grid;
        place-items: center;
        font-size: 40px;
        &:hover{
 
             border-bottom: 2px solid rgb(32, 210, 103);
             color: white;
             cursor: pointer;
        }
    }
    .boton-transparente-menu-en{
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        height: 5rem;
        width: 7rem;
        border-radius: 0%;
        color: white;
        margin-right: 0;
        &:hover{
            background-color: black;   
            border-bottom: 2px solid rgb(32, 210, 103);
            color: white;
            cursor: pointer;
       }
        span{
            opacity: 0;
        }
    }
}
@media(min-width: 480px){
    .boton-transparente-menu{
       
        margin-bottom: 4rem;
        display: grid;
        place-items: center;
        height: 5rem;
        width: 100%;
        border-radius: 0%;
        color: white
        // &:hover{
        //      background-color: black;   
        //      border-bottom: 2px solid rgb(32, 210, 103);
        //      color: white;
        //      cursor: pointer;
        // }
    }
    .boton-transparente-menu-en{
        margin-bottom: 4rem;
        display: grid;
        place-items: center;
        height: 5rem;
        width: 100%;
        border-radius: 0%;
        color: white;
    //     &:hover{
    //         background-color: black;   
    //         border-bottom: 2px solid rgb(32, 210, 103);
    //         color: white;
    //         cursor: pointer;
    //    }
        span{
            opacity: 0;
        }
    }
}

