/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin botones($colores,$espacio){
    background-color: $colores;
    text-decoration: none;
    color: $blanco;
    font-weight: $bold; //hace la letra mas gruesa como en negrilla 
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc($separacion/2);
    display: $espacio;
    border: none;
    &:hover{
        background-color: darken($colores,5);
        cursor: pointer;
    }
}
@mixin boton-dash($colores,$espacio,$colorclic){
    background-color: $colores;
    text-decoration: none;
    color: white;
    font-weight: $bold; //hace la letra mas gruesa como en negrilla 
    padding-top: 0;
    margin: 0;
    display: $espacio;
    align-items: center;
    //justify-content: space-between;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;

    &:hover{
        background-color: darken($colorclic,10);
        color: white;
        cursor: pointer;
    }
   
}