.alerta{
    color: red;
    text-align: center;
    width: 100%;
    height: 1REM;
}
table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    thead{
        background-color: rgb(69, 180, 69);
        th{
            color: white;
            padding: 1rem;
        }
    }
    .imagen{
        width: 8rem;
    }
}
.imagen-update{
    width: 20rem;
}